.fade {
  position: relative;
  opacity: 1;
  &.ng-enter, &.ng-leave {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  &.ng-enter {
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}