<div class="container">
	<h2>What is Hyperloop?</h2>

	<p>Hyperloop is a conceptual high-speed transportation system initially proposed by Elon Musk. The concept consists of passenger and cargo pods being propelled at up to 760 mph in a low pressure tube using sustainable and cost-efficient energy. To accelerate its development, SpaceX is hosting a competition for engineering teams to design their own hyperloop pods and test them at their facility in Hawthorne, California.</p>

	<ul>
		<li><a target="_blank" href="http://www.spacex.com/sites/spacex/files/hyperloop_alpha-20130812.pdf">Hyperloop Alpha Paper (PDF)</a></li>
		<li><a target="_blank" href="http://www.spacex.com/sites/spacex/files/2015_10_20_hyperloop_competition_rules.pdf">SpaceX Hyperloop Pod Competition Announcement Rules and Requirements (PDF)</a></li>
		<li><a target="_blank" href="https://mdao.grc.nasa.gov/publications/AIAA-2015-1587.pdf">NASA Open-Source Conceptual Sizing Models for the Hyperloop Passenger Pod (PDF)</a></li>
	</ul>

	<h2>What is rLoop?</h2>
	<p>rLoop is a dedicated team of volunteers who have embraced modern online collaboration tools to amass a global wealth of talent and resources. We are on track to complete a detailed design for our competition pod system (“rPod”) to be presented to a board of Tesla and SpaceX engineers at the Design Weekend in January. Plans are in place to design, test, build, and field a competitive competition pod system to race on the test track at SpaceX facilities in the summer of 2016. rLoop also intends to continue development of a full scale Hyperloop pod (“HPod”) upon completion of the SpaceX competition. Comprised of over 90 members with diverse technical backgrounds, representing more than 14 countries, rLoop is focused on utilizing a new method of online collaboration to make the Hyperloop a reality.</p>

	<h2>Mission</h2>
	<p>The rPod needs to perform the mission of safe, cost-effective, and efficient high speed transit over the length of the Hyperloop test track while providing a comfortable cabin for a self-contained flight data recorder and passenger dummy, in order to win the SpaceX Competition.</p>

	<h2>Mission Objectives</h2>
	<ul>
		<li>To transit at high speeds over the length of the Hyperloop test track.</li>
		<li>To provide a comfortable cabin for the self contained flight data recorder.</li>
		<li>To be compatible with the functional capabilities of the Hyperloop.</li>
		<li>To function within the low-pressure environment of the Hyperloop.</li>
		<li>To provide a safe design for the competition.</li>
		<li>To provide an energy efficient means of transportation.</li>
		<li>To ensure high system maintainability during competition operations.</li>
		<li>To minimize system cost.</li>
		<li>To win the SpaceX competition.</li>
	</ul>

	<h2>Get Involved</h2>
	<p>To volunteer as a member of rLoop, please fill out <a href="https://docs.google.com/forms/d/1BAFjC9ON3Zietr0hxtaYpmAfDkuSjx028bM-0veWOUo/viewform" target="_blank">this form</a> . You will be sent an Exhibit A document which SpaceX requires you to sign and submit to us in order to compete as a member of rLoop. The competition agreement can be found <a href="http://bit.ly/rLoopSpaceXLegalStuff" target="_blank">here</a>. You will also be sent an invite to Slack and Trello - we're useing Slack, Google Drive, GitHub, and Trello for collaboration.</p>
</div>