<div class="container">
	<h1>About</h1>
	<p>The rLoop project is a diverse group of talented volunteers from around the world, currently in the early stages of creating a hyperloop pod design for SpaceX's <a href="http://spacex.com/hyperloop/" target="_blank">Hyperloop pod competition</a>. We have no official affiliation with Reddit or SpaceX.</p>

	<h2>Get Involved</h2>
	<p>We could always use more volunteers. Just fill out <a href="https://docs.google.com/forms/d/16pQiNdlVTwu6-WaGacsSVsowBkGiI5fQFtvTk-ptgb4/viewform" target="_blank">this form</a> to get a Slack invite. We’re using Slack, Google Drive, and GitHub for collaboration.</p>
</div>