
<div class="container">
	<h2>Press</h2>

	<div class="media">
	  <div class="media-left">
	    <a href="http://www.psfk.com/2015/08/hyperloop-competition-spacex-rloop-reddit.html" target="_blank">
	      <img class="media-object" src="images/media/psfkLogo.png" alt="psfk logo">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Under Hyperloop’s Shadow, A Think Tank is Born on Reddit</h4>
	    <p>Determined to win SpaceX's Hyperloop pod competition, rLoop has embraced the pros and cons of full online collaboration as a means to power our collective future</p>
	    <p><i><a href="http://www.psfk.com/2015/08/hyperloop-competition-spacex-rloop-reddit.html" target="_blank">Read full article</a></i></p>
	  </div>
	</div>

	<hr />
	<h3>Gallery</h3>
	<uib-carousel interval="4000" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.text}}</h4>
        </div>
      </uib-slide>
    </uib-carousel>
</div>