
<div class="container">
	<h1>Media</h1>

	<h3>In the news</h3>
	<ul>
		<li><a href="http://www.psfk.com/2015/08/hyperloop-competition-spacex-rloop-reddit.html" target="_blank">Under Hyperloop’s Shadow, A Think Tank is Born on Reddit</a> - <i>Aug 24 2015</i></li>
	</ul>

	<hr />
	<h3>Gallery</h3>
	<uib-carousel interval="4000" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.text}}</h4>
        </div>
      </uib-slide>
    </uib-carousel>
</div>