
<div class="container">
  <h2>Press</h2>

  <div class="media">
    <div class="media-left">
      <a href="http://electrek.co/2016/01/29/reddit-hyperloop-pod-design-spacex/" target="_blank">
        <img class="media-object" src="images/media/electrek.png" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Reddit came together and created an Hyperloop pod design to help kickstart Elon Musk’s “fifth mode of transportation”</h4>
      <p>The rLoop team originated from the SpaceX subreddit, which has now over 50,000 users. Volunteers with diverse technical backgrounds came together...</p>
      <p><i><a href="http://electrek.co/2016/01/29/reddit-hyperloop-pod-design-spacex/" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://www.autoevolution.com/news/rloop-is-the-latest-team-hellbent-on-making-hyperloop-a-reality-104353.html" target="_blank">
        <img class="media-object" src="images/media/autoevolution.png" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">rLoop Is the Latest Team Hellbent on Making Hyperloop a Reality</h4>
      <p>A third team is starting to catch up. Called rLoop, they’re a team of over 90 members from more than 14 different countries who use the Internet as a method of sharing their ideas and collaborating online towards reaching their final goal: making Hyperloop a reality.</p>
      <p><i><a href="http://www.autoevolution.com/news/rloop-is-the-latest-team-hellbent-on-making-hyperloop-a-reality-104353.html" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://www.psfk.com/2016/02/rloop-open-source-online-think-tank-model-hyperloop-spacex-design-weekend-winners.html" target="_blank">
        <img class="media-object" src="images/media/psfkLogo.png" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">rLoop: We Are Pushing the Limits of the Open Source, Online Think Tank Model
      <p>Last June, the SpaceX fan subreddit (not affiliated with the company in any official capacity) was buzzing with the news that SpaceX had announced plans to host a Hyperloop pod design competition...</p>
      <p><i><a href="http://www.psfk.com/2016/02/rloop-open-source-online-think-tank-model-hyperloop-spacex-design-weekend-winners.html" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://electrek.co/2016/02/01/hyperloop-mit-reddit-pod-competition/" target="_blank">
        <img class="media-object" src="images/media/electrek.png" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Elon Musk on the Hyperloop: “I’m starting to think this is really going to happen.” – MIT and Reddit won the SpaceX Hyperloop Pod Design Competition</h4>
      <p>...the rLoop team from Reddit won the best design by a non-student team.</p>
      <p><i><a href="http://electrek.co/2016/02/01/hyperloop-mit-reddit-pod-competition/" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://fortune.com/2016/01/31/mit-wins-hyperloop-competition-and-elon-musk-drops-in/?iid=leftrail" target="_blank">
        <img class="media-object" src="images/media/Fortune.jpg" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">MIT Wins Hyperloop Competition, And Elon Musk Drops In</h4>
      <p>A total of 22 student teams, and one non-university team organized through online forum Reddit, advanced through the first phase of the competition and will test their pods this summer on a SpaceX-built Hyperloop test track in Hawthorne, Calif.</p>
      <p><i><a href="http://fortune.com/2016/01/31/mit-wins-hyperloop-competition-and-elon-musk-drops-in/?iid=leftrail" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://www.theverge.com/2016/2/3/10904424/hyperloop-design-competition-report-texas-elon-musk" target="_blank">
        <img class="media-object" src="images/media/verge-logo-lg.jpg" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">How to build a Hyperloop</h4>
      <p>"We dubbed ourselves the crowd-sourced engineering think tank," said Brent Lessard, an engineering student from Toronto who serves as project manager for the 140-member rLoop team.</p>
      <p><i><a href="http://www.theverge.com/2016/2/3/10904424/hyperloop-design-competition-report-texas-elon-musk" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://motherboard.vice.com/en_ca/read/meet-the-redditors-who-designed-a-hyperloop-pod" target="_blank">
        <img class="media-object" src="images/media/motherboard-logo.png" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Meet the Redditors Who Designed a Hyperloop Pod</h4>
      <p>Nearly all of the teams trying to build a “pod” that will work in Elon Musk’s futuristic hyperloop transportation tubes spent months toiling away together in university classrooms engineering their designs. One of the teams, however, only met each other for the first time a few hours before I met them.</p>
      <p><i><a href="http://motherboard.vice.com/en_ca/read/meet-the-redditors-who-designed-a-hyperloop-pod" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <hr>

  <div class="media">
    <div class="media-left">
      <a href="http://www.psfk.com/2015/08/hyperloop-competition-spacex-rloop-reddit.html" target="_blank">
        <img class="media-object" src="images/media/psfkLogo.png" alt="psfk logo">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Under Hyperloop’s Shadow, A Think Tank is Born on Reddit</h4>
      <p>Determined to win SpaceX's Hyperloop pod competition, rLoop has embraced the pros and cons of full online collaboration as a means to power our collective future</p>
      <p><i><a href="http://www.psfk.com/2015/08/hyperloop-competition-spacex-rloop-reddit.html" target="_blank">Read full article</a></i></p>
    </div>
  </div>

  <h3>Gallery</h3>
  <uib-carousel interval="4000" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.text}}</h4>
        </div>
      </uib-slide>
    </uib-carousel>
</div>